form.blog {
  padding: 1em;
  background: #292B2E;
  box-shadow: 1em 1em 1em black;
  border-radius: 5px;
}

form.blog input, form.blog textarea {
  padding: 5px;
  box-sizing: border-box;
  margin: 0;
  border: 1px dashed white;
  background: #292B2E;
  outline: none;
  width: 100%;
  margin-top: -1px;
  /* border-color: #ce537a; */
}

form.blog input[type="submit"] {
  margin-top: 23px;
  padding: 0.5em 2em;
  border: 1px dashed white;
  cursor: pointer;
}

form.blog input[type="submit"]:disabled {
  cursor: not-allowed;
}

form.blog textarea {
  margin-bottom: -3px;
  resize:none;
}

form.blog textarea::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
 
form.blog textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

form.blog textarea::-webkit-scrollbar-thumb {
  background-color: #6E5D8E;
  border-radius: 15px;
  outline: 1px solid slategrey;
}

.error {
  display: none;
  color: #ce537a;
  border: 1px dashed #ce537a;
  border-top: none;
  padding: 5px;
  font-size: 14px;
  margin-top: -1px;
  margin-bottom: 1px;
}
