/* img.profile-pic {
  display: block;
  margin: 0 auto;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
}*/

/*
@media (max-width: 768px) {
  img.profile-pic {
    max-height: 300px;
    max-width: 40%;
  }
}
*/

.images {
  margin: 0 auto;
  text-align: center;
}

.image {
  cursor: pointer;
  margin-right: 10px;
  transition: width 0.1s, height 0.1s, border-radius 0.1s;
  display: inline-block;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
}

.image#profile-pic2 {
  width: 20vh;
  height: 20vh;
}

/* #preview {
  display: none;
}*/

#imagePreview[src]:not([src=""]) {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 30vw;
  width: 30vw;
  margin-top: -15vw;
  margin-left: -15vw;
  border-radius: 0;
  z-index: 2;
  transition: width 0.1s, height 0.1s, border-radius 0.1s;
}

#imagePreview[src=""] {
  display: none;
}
#imagePreview[src=""] ~ #previewShadow {
  display: none;
}

#imagePreview[src]:not([src=""]) ~ #previewShadow {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  z-index: 1;
  cursor: pointer;
}

#imagePreview[src]:not([src=""]) ~ #previewShadow .close {
  position: absolute;
  padding: 5px;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  border-radius: 5px;
}
#imagePreview[src]:not([src=""]) ~ #previewShadow .close:hover {
  opacity: 1;
}
#imagePreview[src]:not([src=""]) ~ #previewShadow .close:before,
#imagePreview[src]:not([src=""]) ~ #previewShadow .close:after {
  position: absolute;
  left: 20px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}
#imagePreview[src]:not([src=""]) ~ #previewShadow .close:before {
  transform: rotate(45deg);
}
#imagePreview[src]:not([src=""]) ~ #previewShadow .close:after {
  transform: rotate(-45deg);
}
