img.profile-pic {
  display: block;
  margin: 0 auto;
  width: auto;
  max-width: 10vw;
  height: auto;
  max-height: 10vw;
  border-radius: 50%;
}

@media (max-width: 768px) {
  img.profile-pic {
    max-height: 20vw;
    max-width: 20vw;
  }
}
