#hint {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid white;
  padding: 5px 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 0px 0px white;
  animation: hintmove 0.7s infinite;
  background: #B45377;
}


@keyframes hintmove {
  from {margin-top: 0px;}
  to {margin-top: 2px;box-shadow: none;}
}
