.social ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.social li {
  margin: 0 auto;
  display: inline;
}

.social a {
  text-align: center;
  cursor: url(http://static-cdn.jtvnw.net/emoticons/v1/25/1.0), pointer;
  padding: 1em;
  border-radius: 50%;
  width: 5vw;
  line-height: 5vw;
  border: 0.1vw solid white;
}

.social a.disabled {
  border-color: #9F9EA1;
  cursor: default;
  pointer-events: none;
}

.social a.disabled i {
  color: #9F9EA1;
}

.social a i {
  margin-top: 25px;
}
