@import 'fonts.css';
@import 'menu.css';
@import 'tables.css';
@import 'images.css';
@import 'form.css';
@import 'social.css';
@import 'support/print.css';

*, body {
  background: #5D4D7A;
  color: white;
}

body {
  padding-bottom: 30px;
}

body::-webkit-scrollbar {
  width: 7px;
}
 
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #6E5D8E;
  border-radius: 20px;
  outline: 1px solid slategrey;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 52%;
  }
}
