/* Background
 @media print and (color) {
   {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }
} */ 

@media print {
  #menuToggle {
    display: none !important;
  }

  #menu {
    display: none !important;
  }

  .social a {
    border-color: black;
    color: black;
  }

  form.blog {
    box-shadow: none;
  }

  .nice-font pre {
    box-shadow: none;
  }

  .info {
    box-shadow: none;
  }
}
